<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.apache.kafka" level="error" />
    <logger name="dev.hertlein" level="trace" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>